DI_EXAMPLE_MYSQL_HOST=MYSQL_HOST_PLACEHOLDER
DI_EXAMPLE_MYSQL_PORT=3306
DI_EXAMPLE_MYSQL_DATABASE=MYSQL_DATABAES_PLACEHOLDER
DI_EXAMPLE_MYSQL_USERNAME=MYSQL_USERNAME_PLACEHOLDER
DI_EXAMPLE_MYSQL_PASSWORD=MYSQL_PASSWORD_PLACEHOLDER